button.css-1cpxqw2.edgvbvh1{
border-radius:10px;
width:35%;
}

div.row-widget.stButton{
text-align:center;
}

div.css-1v0mbdj.etr89bj1{
text-align:center;
}

div.css-nlntq9.e16nr0p30{
font-size:20px;
}
div.streamlit-expanderHeader.st-ae.st-bp.st-ag.st-ah.st-ai.st-aj.st-bq.st-br.st-bs.st-bt.st-bu.st-bv.st-bw.st-as.st-at.st-bx.st-by.st-bz.st-c0.st-c1.st-b4.st-c2.st-c3.st-c4.st-b5.st-c5.st-c6.st-c7.st-c8{
font-size:20px;
}
div.streamlit-expanderContent.st-ae.st-af.st-ag.st-ah.st-ai.st-aj.st-bs.st-bq.st-ce.st-gq.st-bv.st-bw.st-as.st-at.st-bx.st-by.st-bz.st-c0.st-cg.st-ch.st-am.st-gr.st-ck.st-b1.st-cl.st-b3.st-c6.st-c7.st-c8{
font-size:30px;
}
div.css-zbg2rx.e1fqkh3o1{
background:darkgreen;
}

div.row-widget.stButton{
text-align:center;
}

div.css-1v0mbdj.etr89bj1{
text-align:center;
}

div.css-nlntq9.e16nr0p30{
font-size:20px;
}
div.streamlit-expanderHeader.st-ae.st-bp.st-ag.st-ah.st-ai.st-aj.st-bq.st-br.st-bs.st-bt.st-bu.st-bv.st-bw.st-as.st-at.st-bx.st-by.st-bz.st-c0.st-c1.st-b4.st-c2.st-c3.st-c4.st-b5.st-c5.st-c6.st-c7.st-c8{
font-size:20px;
}
div.streamlit-expanderContent.st-ae.st-af.st-ag.st-ah.st-ai.st-aj.st-bs.st-bq.st-ce.st-gq.st-bv.st-bw.st-as.st-at.st-bx.st-by.st-bz.st-c0.st-cg.st-ch.st-am.st-gr.st-ck.st-b1.st-cl.st-b3.st-c6.st-c7.st-c8{
font-size:30px;
}
label.css-qrbaxs.effi0qh0{
font-size:18px;
color:white
}
span.css-10trblm.e16nr0p33{
color:white;
}

div.row-widget.stButton{
text-align:center;
}

div.css-1v0mbdj.etr89bj1{
text-align:center;
}

div.css-nlntq9.e16nr0p30{
font-size:20px;
}
div.streamlit-expanderHeader.st-ae.st-bp.st-ag.st-ah.st-ai.st-aj.st-bq.st-br.st-bs.st-bt.st-bu.st-bv.st-bw.st-as.st-at.st-bx.st-by.st-bz.st-c0.st-c1.st-b4.st-c2.st-c3.st-c4.st-b5.st-c5.st-c6.st-c7.st-c8{
font-size:20px;
}
div.streamlit-expanderContent.st-ae.st-af.st-ag.st-ah.st-ai.st-aj.st-bs.st-bq.st-ce.st-gq.st-bv.st-bw.st-as.st-at.st-bx.st-by.st-bz.st-c0.st-cg.st-ch.st-am.st-gr.st-ck.st-b1.st-cl.st-b3.st-c6.st-c7.st-c8{
font-size:30px;
}
div.css-zbg2rx.e1fqkh3o1{
background:darkgreen;
}

div.row-widget.stButton{
text-align:center;
}

div.css-1v0mbdj.etr89bj1{
text-align:center;
}

div.css-nlntq9.e16nr0p30{
font-size:20px;
}
div.streamlit-expanderHeader.st-ae.st-bp.st-ag.st-ah.st-ai.st-aj.st-bq.st-br.st-bs.st-bt.st-bu.st-bv.st-bw.st-as.st-at.st-bx.st-by.st-bz.st-c0.st-c1.st-b4.st-c2.st-c3.st-c4.st-b5.st-c5.st-c6.st-c7.st-c8{
font-size:20px;
color:white;
}
div.streamlit-expanderContent.st-ae.st-af.st-ag.st-ah.st-ai.st-aj.st-bs.st-bq.st-ce.st-gq.st-bv.st-bw.st-as.st-at.st-bx.st-by.st-bz.st-c0.st-cg.st-ch.st-am.st-gr.st-ck.st-b1.st-cl.st-b3.st-c6.st-c7.st-c8{
font-size:30px;
}
label.css-qrbaxs.effi0qh0{
font-size:18px;
color:white
}
span.css-10trblm.e16nr0p33{
color:white;
}

div.row-widget.stButton{
text-align:center;
}

div.css-1v0mbdj.etr89bj1{
text-align:center;
}

div.css-nlntq9.e16nr0p30{
font-size:20px;
}
div.streamlit-expanderHeader.st-ae.st-bp.st-ag.st-ah.st-ai.st-aj.st-bq.st-br.st-bs.st-bt.st-bu.st-bv.st-bw.st-as.st-at.st-bx.st-by.st-bz.st-c0.st-c1.st-b4.st-c2.st-c3.st-c4.st-b5.st-c5.st-c6.st-c7.st-c8{
font-size:20px;
}
div.streamlit-expanderContent.st-ae.st-af.st-ag.st-ah.st-ai.st-aj.st-bs.st-bq.st-ce.st-gq.st-bv.st-bw.st-as.st-at.st-bx.st-by.st-bz.st-c0.st-cg.st-ch.st-am.st-gr.st-ck.st-b1.st-cl.st-b3.st-c6.st-c7.st-c8{
font-size:30px;
}
div.css-zbg2rx.e1fqkh3o1{
background:darkgreen;
}

div.row-widget.stButton{
text-align:center;
}

div.css-1v0mbdj.etr89bj1{
text-align:center;
}

div.css-nlntq9.e16nr0p30{
font-size:20px;
}
div.streamlit-expanderHeader.st-ae.st-bp.st-ag.st-ah.st-ai.st-aj.st-bq.st-br.st-bs.st-bt.st-bu.st-bv.st-bw.st-as.st-at.st-bx.st-by.st-bz.st-c0.st-c1.st-b4.st-c2.st-c3.st-c4.st-b5.st-c5.st-c6.st-c7.st-c8{
font-size:20px;
}
div.streamlit-expanderContent.st-ae.st-af.st-ag.st-ah.st-ai.st-aj.st-bs.st-bq.st-ce.st-gq.st-bv.st-bw.st-as.st-at.st-bx.st-by.st-bz.st-c0.st-cg.st-ch.st-am.st-gr.st-ck.st-b1.st-cl.st-b3.st-c6.st-c7.st-c8{
font-size:30px;
}
label.css-qrbaxs.effi0qh0{
font-size:18px;
color:white
}
span.css-10trblm.e16nr0p33{
color:white;
}

div.row-widget.stButton{
text-align:center;
}

div.css-1v0mbdj.etr89bj1{
text-align:center;
}

div.css-nlntq9.e16nr0p30{
font-size:20px;
}
div.streamlit-expanderHeader.st-ae.st-bp.st-ag.st-ah.st-ai.st-aj.st-bq.st-br.st-bs.st-bt.st-bu.st-bv.st-bw.st-as.st-at.st-bx.st-by.st-bz.st-c0.st-c1.st-b4.st-c2.st-c3.st-c4.st-b5.st-c5.st-c6.st-c7.st-c8{
font-size:20px;
}
div.streamlit-expanderContent.st-ae.st-af.st-ag.st-ah.st-ai.st-aj.st-bs.st-bq.st-ce.st-gq.st-bv.st-bw.st-as.st-at.st-bx.st-by.st-bz.st-c0.st-cg.st-ch.st-am.st-gr.st-ck.st-b1.st-cl.st-b3.st-c6.st-c7.st-c8{
font-size:30px;
}
div.css-zbg2rx.e1fqkh3o1{
background:linear-gradient(grey 0%, darkgrey 30%),
linear-gradient(to right, green 10%, darkgreen 30%);
background-blend-mode:screen,difference,lighten;
}

div.row-widget.stButton{
text-align:center;
}

div.css-1v0mbdj.etr89bj1{
text-align:center;
justify-content:center;
}

div.css-nlntq9.e16nr0p30{
font-size:20px;
}

label.css-qrbaxs.effi0qh0{
font-size:18px;
color:white
}

span.css-10trblm.e16nr0p33{
color:white;
}

div.stApp.css-fg4pbf.eczokvf0{

background:linear-gradient(white 0%, grey 30%),
linear-gradient(to right, green 0%, darkgreen 30%);
background-blend-mode:screen,difference,lighten;
text-align:center;
}

div.css-nlntq9.e16nr0p30{
color:white;
}
div.streamlit-expanderHeader.st-ae.st-br.st-ag.st-ah.st-ai.st-aj.st-bs.st-bt.st-bu.st-bv.st-bw.st-bx.st-by.st-as.st-at.st-bz.st-c0.st-c1.st-c2.st-c3.st-b4.st-c4.st-c5.st-c6.st-b5.st-c7.st-c8.st-c9.st-ca{
font-size:20px;
color:white;
}
